@import url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
@import url("https://fonts.googleapis.com/css?family=Monoton|VT323|Montserrat");
html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

section {
  width: 100%;
  text-align: center;
  background: #fff;
  background-size: cover;
  height: 100vh;
  display: table;
  font-family: 'Montserrat', sans-serif;
  color: #eae7dc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#secTwo {
  background: grey;
}

#secTwo img {
  margin: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  max-height: 60%;
  max-width: 100%;
  background: #000000;
}

#secTwo .designContainer .textDesignContainer {
  border: 5px solid white;
  width: 50%;
  margin-top: 20%;
  margin-left: 15%;
  position: relative;
  color: #fff;
}

#secTwo .designContainer .textDesignContainer .textDesignPage {
  padding-left: 30px;
  width: 75%;
}

#secTwo .designContainer .textDesignContainer .textDesignPage h1 {
  font-size: 4.5vw;
  font-family: 'Monoton', cursive;
  text-align: left;
}

#secTwo .designContainer .textDesignContainer .textDesignPage p {
  font-size: 2.5vw;
  text-align: left;
}

#secOne img {
  margin: auto;
  /* Required */
  position: absolute;
  /* Required */
  bottom: 0;
  /* Aligns at the bottom */
  left: 0;
  right: 0;
  /* Aligns horizontal center */
  max-height: 75%;
  /* images bigger than 175 px  */
  max-width: 100%;
  /* will be shrinked to size */
}

#secOne .designSite {
  height: 100vh;
  width: 50%;
  background: #000000;
  float: left;
}

#secOne .designSite .textDesign {
  text-align: center;
  position: relative;
  top: 8%;
  left: 3%;
  font-family: 'Montserrat';
  width: 64%;
}

#secOne .designSite .textDesign h1 {
  font-size: 4.5vw;
  font-family: 'Monoton', cursive;
}

#secOne .designSite .textDesign p {
  font-size: 2.5vw;
  text-align: left;
}

#secOne .btn-design {
  position: absolute;
  margin-left: 11%;
  top: 70%;
}

#secOne .btn-design a {
  display: inline-block;
  background: red;
  color: white;
  padding: .8em;
  margin-top: 2em;
}

#secOne .reset {
  position: absolute;
  left: 0;
  right: 0;
}

#secOne .devSite {
  height: 100vh;
  width: 50%;
  float: right;
}

#secOne .devSite .textDev {
  text-align: center;
  position: relative;
  top: 8%;
  right: 3%;
  color: black;
  font-family: 'VT323', monospace;
  width: 62%;
  float: right;
}

#secOne .devSite .textDev h1 {
  font-size: 5.5vw;
}

#secOne .devSite .textDev p {
  font-size: 3.5vw;
  text-align: right;
}

.btn-dev {
  position: absolute;
  top: 70%;
  margin-left: 29%;
}

.btn-dev a {
  display: inline-block;
  background: red;
  color: white;
  padding: .8em;
  margin-top: 2em;
}

.btn-dev a:hover {
  background: rgba(255, 1, 1, 0.562);
}

.sidebar {
  float: left;
  width: 100px;
  margin-left: -100px;
  height: 100%;
  background: #000000;
  overflow: hidden;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
  position: fixed;
  z-index: 10;
}

.side {
  margin-left: 0px;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  padding-top: 70px;
}

.sidebar ul li {
  list-style: none;
}

.sidebar ul li a {
  text-decoration: none;
  color: white;
  height: 80px;
  width: 100%;
  font-size: 40px;
  line-height: 80px;
  display: block;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}

.sidebar ul li a:hover {
  background: #3D414C;
  color: #CBBA9C;
}

.btn {
  left: 25px;
  padding: 0 10px;
  font-size: 40px;
  text-decoration: none;
  color: #fff;
  font-family: Ionicons;
  cursor: pointer;
  position: fixed;
  z-index: 10;
}

.btn:before {
  content: '\f20d';
}

.btnc:before {
  content: '\f12a';
}

@media only screen and (max-width: 680px) {
  .textDesign h1 {
    font-size: 11.3vw !important;
  }
  .textDesign p {
    font-size: 5.5vw !important;
  }
  .textDev h1 {
    font-size: 13.4vw !important;
  }
  .textDev p {
    font-size: 6.9vw !important;
  }
}

@media only screen and (min-width: 680px) {
  .textDesign h1 {
    font-size: 8.3vw !important;
  }
  .textDesign p {
    font-size: 4vw !important;
  }
  .textDev h1 {
    font-size: 10.4vw !important;
  }
  .textDev p {
    font-size: 4vw !important;
  }
}

@media only screen and (min-width: 992px) {
  .textDesign h1 {
    font-size: 4.5vw !important;
  }
  .textDesign p {
    font-size: 2.5vw !important;
  }
  .textDev h1 {
    font-size: 5.5vw !important;
  }
  .textDev p {
    font-size: 3.5vw !important;
  }
}
/*# sourceMappingURL=main.css.map */