@import url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
@import url("https://fonts.googleapis.com/css?family=Monoton|VT323|Montserrat");
html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

section {
  width: 100%;
  text-align: center;
  background: #fff;
  background-size: cover;
  height: 100vh;
  display: table;
  font-family: 'Montserrat', sans-serif;
  color: #eae7dc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#secTwo {
  background: url(../images/bg.jpg);
  background-size: cover;
}

#secTwo img {
  margin: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  max-height: 60%;
  max-width: 100%;
}

#secTwo .designContainer .textDesignContainer {
  width: 50%;
  margin-top: 20%;
  margin-left: 15%;
  position: relative;
  color: #fff;
}

#secTwo .designContainer .textDesignContainer .textDesignPage {
  padding-left: 30px;
  width: 75%;
}

#secTwo .designContainer .textDesignContainer .textDesignPage h1 {
  font-size: 4.5vw;
  font-family: 'Monoton', cursive;
  text-align: left;
  background: red;
}

#secTwo .designContainer .textDesignContainer .textDesignPage p {
  font-size: 2.5vw;
  text-align: left;
  background: red;
}

#secOne img {
  margin: auto;
  /* Required */
  position: absolute;
  /* Required */
  bottom: 0;
  /* Aligns at the bottom */
  left: 0;
  right: 0;
  /* Aligns horizontal center */
  max-height: 75%;
  /* images bigger than 175 px  */
  max-width: 100%;
  /* will be shrinked to size */
}

#secOne .designSite {
  height: 100vh;
  width: 50%;
  background: #000000;
  float: left;
}

#secOne .designSite .textDesign {
  text-align: center;
  position: relative;
  top: 8%;
  left: 3%;
  font-family: 'Montserrat';
  width: 64%;
}

#secOne .designSite .textDesign h1 {
  font-size: 4.5vw;
  font-family: 'Monoton', cursive;
}

#secOne .designSite .textDesign p {
  font-size: 2.5vw;
  text-align: left;
}

#secOne .btn-design {
  position: absolute;
  margin-left: 11%;
  top: 70%;
}

#secOne .btn-design a {
  display: inline-block;
  background: red;
  color: white;
  padding: .8em;
  margin-top: 2em;
}

#secOne .reset {
  position: absolute;
  left: 0;
  right: 0;
}

#secOne .devSite {
  height: 100vh;
  width: 50%;
  float: right;
}

#secOne .devSite .textDev {
  text-align: center;
  position: relative;
  top: 8%;
  right: 3%;
  color: black;
  font-family: 'VT323', monospace;
  width: 62%;
  float: right;
}

#secOne .devSite .textDev h1 {
  font-size: 5.5vw;
}

#secOne .devSite .textDev p {
  font-size: 3.5vw;
  text-align: right;
}

.btn-dev {
  position: absolute;
  top: 70%;
  margin-left: 29%;
}

.btn-dev a {
  display: inline-block;
  background: red;
  color: white;
  padding: .8em;
  margin-top: 2em;
}

.btn-dev a:hover {
  background: rgba(255, 1, 1, 0.562);
}

.sidebar {
  float: left;
  width: 100px;
  margin-left: -100px;
  height: 100%;
  background: #000000;
  overflow: hidden;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
  position: fixed;
  z-index: 10;
}

.side {
  margin-left: 0px;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  padding-top: 70px;
}

.sidebar ul li {
  list-style: none;
}

.sidebar ul li a {
  text-decoration: none;
  color: white;
  height: 80px;
  width: 100%;
  font-size: 40px;
  line-height: 80px;
  display: block;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}

.sidebar ul li a:hover {
  background: #3D414C;
  color: #CBBA9C;
}

.btn {
  left: 25px;
  padding: 0 10px;
  font-size: 40px;
  text-decoration: none;
  background: red;
  color: #fff;
  font-family: Ionicons;
  cursor: pointer;
  position: fixed;
  z-index: 10;
}

.btn:before {
  content: '\f20d';
}

.btnc:before {
  content: '\f12a';
}

@media only screen and (max-width: 680px) {
  .textDesign h1 {
    font-size: 11.3vw !important;
  }
  .textDesign p {
    font-size: 5.5vw !important;
  }
  .textDev h1 {
    font-size: 13.4vw !important;
  }
  .textDev p {
    font-size: 6.9vw !important;
  }
}

@media only screen and (min-width: 680px) {
  .textDesign h1 {
    font-size: 8.3vw !important;
  }
  .textDesign p {
    font-size: 4vw !important;
  }
  .textDev h1 {
    font-size: 10.4vw !important;
  }
  .textDev p {
    font-size: 4vw !important;
  }
}

@media only screen and (min-width: 992px) {
  .textDesign h1 {
    font-size: 4.5vw !important;
  }
  .textDesign p {
    font-size: 2.5vw !important;
  }
  .textDev h1 {
    font-size: 5.5vw !important;
  }
  .textDev p {
    font-size: 3.5vw !important;
  }
}

/* Box */
.box {
  background: #ffffff;
  border: solid 1px rgba(224, 224, 224, 0.75);
  margin-bottom: 6em;
  padding: 3.5em;
}

.box.alt {
  background: none;
  border: none;
  padding: 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* Feature */
.content h1, h2, h3 {
  color: #5b5b5b;
}

.content p {
  color: #6e6e6e;
}

.feature {
  position: relative;
  height: 20em;
}

.feature:after {
  clear: both;
  content: '';
  display: block;
}

.feature h3, .feature h4, .feature h5, .feature h6 {
  text-align: inherit;
}

.feature .image {
  display: inline-block;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 50%;
}

.feature .image img {
  display: block;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  background-size: cover;
}

.feature:before {
  background: blue;
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.feature .content {
  display: inline-block;
  padding: 3.5em;
  padding-top: 0;
  vertical-align: middle;
  width: 48%;
}

.feature .content h3 {
  margin-bottom: 0.5em;
}

.feature .content :last-child {
  margin: 0;
}

.feature.left {
  text-align: left;
}

.feature.left .image {
  float: left;
  height: 300px;
  max-width: 500px;
}

.feature.left .image img {
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.feature.left .content {
  padding-right: 0;
}

.feature.right {
  text-align: right;
}

.feature.right .image {
  float: right;
  height: 300px;
  max-width: 500px;
}

.feature.right .image img {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.feature.right .content {
  padding-left: 0;
}

.feature.long .content {
  padding-top: 0;
}

/* Image */
.image {
  border: 0;
  display: inline-block;
  position: relative;
}

.image:after {
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  background-image: url("images/overlay.png");
  content: '';
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.2;
  position: absolute;
  top: 0;
  width: 100%;
}

.image img {
  display: block;
}

.image.fit {
  display: block;
}

.image.fit img {
  display: block;
  width: 100%;
}

.image.feature {
  display: block;
  margin: 0 0 2em 0;
}

.image.feature img {
  display: block;
  width: 100%;
}

.image.icon {
  -webkit-perspective: 500px;
  -ms-perspective: 500px;
  perspective: 500px;
}

.image.icon:before {
  -webkit-transition: -webkit-transform 0.1s ease-in-out, font-size 0.1s ease-in-out;
  -webkit-transition: font-size 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  transition: font-size 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, font-size 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, font-size 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  color: #fff;
  font-size: 6em;
  height: 1em;
  left: 50%;
  line-height: 1em;
  margin: -0.5em 0 0 -0.5em;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 1em;
  z-index: 1;
}

.image.icon:hover:before {
  -webkit-transform: translateZ(1em);
  transform: translateZ(1em);
}

.image.icon:hover:after {
  opacity: 1;
}

span.image.icon {
  cursor: default;
}

/* Icon */
.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.icon > .label {
  display: none;
}

.fa-code:before {
  content: "\f121";
}

.middle {
  /* position: absolute; */
  top: 88%;
  -webkit-transform: translateY(-50%);
  transform: translateY(0%);
  width: 100%;
  text-align: center;
}

.btn-social {
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 30%;
  color: #6e6e6e;
  overflow: hidden;
  position: relative;
}

.btn-social i {
  line-height: 90px;
  font-size: 35px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.btn-social:hover i {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #f1f1f1;
}

.btn-social::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: red;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btn-social:hover::before {
  -webkit-animation: aaa 0.7s 1;
          animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@-webkit-keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

header {
  text-align: center;
}

header p {
  position: relative;
  top: -1em;
  color: #888888;
  text-transform: uppercase;
  letter-spacing: 0.075em;
}

header.major {
  padding: 10em 0;
  position: relative;
}

header.major h2 {
  margin: 0;
}

header.major p {
  top: 0;
  margin: 1.5em 0 0 0;
  padding: 1.5em 1.5em 0 1.5em;
  font-size: 1.5em;
  line-height: 1.75em;
  border-top: solid 1px rgba(224, 224, 224, 0.75);
  display: inline-block;
}

header.major.last {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

[data-scroll] {
  -webkit-transition: all 2s;
  transition: all 2s;
}

[data-scroll="in"] {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

[data-scroll="out"] {
  opacity: 0;
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}

.skill-container {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  /* padding: 20px; */
  color: #5b5b5b;
}

.skill-text {
  float: left;
  width: 50%;
}

.skill-text p {
  text-align: left;
}

.skill-text h3 {
  text-align: left;
}

.skill-bars {
  float: right;
  width: 50%;
  /* margin: 0; */
  /* top: 0; */
}

.skill-container li {
  position: relative;
  list-style: none;
  margin: 50px 0;
  font-weight: 500;
  text-transform: uppercase;
}

.skill-container li:before {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  height: 35px;
  background-color: rgba(198, 198, 198, 0.5);
  border-radius: 1000px;
}

.skill-container li:after {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 0;
  height: 35px;
  background-color: #367edf;
  border-radius: 1000px;
  -webkit-animation-duration: 2.7s;
          animation-duration: 2.7s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.skill-container li.html:after {
  -webkit-animation-name: html;
          animation-name: html;
}

@-webkit-keyframes html {
  to {
    width: 90%;
    background: #1ea7c8;
  }
}

@keyframes html {
  to {
    width: 90%;
    background: #1ea7c8;
  }
}

li.css:after {
  -webkit-animation-name: css;
          animation-name: css;
}

@-webkit-keyframes css {
  to {
    width: 80%;
    background: red;
  }
}

@keyframes css {
  to {
    width: 80%;
    background: red;
  }
}

li.js:after {
  -webkit-animation-name: js;
          animation-name: js;
}

@-webkit-keyframes js {
  to {
    width: 75%;
    background: #e30089;
  }
}

@keyframes js {
  to {
    width: 75%;
    background: #e30089;
  }
}

li.ng:after {
  -webkit-animation-name: ng;
          animation-name: ng;
}

@-webkit-keyframes ng {
  to {
    width: 60%;
    background: #FF7C00;
  }
}

@keyframes ng {
  to {
    width: 60%;
    background: #FF7C00;
  }
}

/*-----------------------------------------------------------*/
@media screen and (max-width: 1680px) {
  /* Basic */
  body, input, select, textarea {
    font-size: 14pt;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.25em;
  }
}

/* Normal */
@media screen and (max-width: 1280px) {
  /* Basic */
  body, input, select, textarea {
    font-size: 13pt;
  }
  h2 {
    font-size: 1.35em;
  }
  h3 {
    font-size: 1.15em;
  }
  /* Box */
  .box {
    padding: 2.5em;
    margin-bottom: 4em;
  }
  /* Feature */
  .feature {
    height: 18em;
  }
  .feature .content {
    padding: 2.5em;
  }
}

/* Narrow */
@media screen and (max-width: 980px) {
  /* Basic */
  body, input, select, textarea {
    font-size: 12pt;
  }
}

/* Mobile */
@media screen and (max-width: 736px) {
  /* Basic */
  h2 {
    font-size: 1em;
  }
  h3 {
    font-size: 1em;
  }
  /* Box */
  .box {
    padding: 2em;
    margin-bottom: 2em;
  }
  /* Feature */
  .feature {
    background: #ffffff;
    display: block;
    height: auto;
    margin-bottom: 2em;
  }
  .feature:last-child {
    margin-bottom: 0;
  }
  .feature:before, .feature:after {
    display: none;
  }
  .feature .image {
    float: none;
    height: 15em;
    width: 100%;
  }
  .feature .content {
    border: solid 1px rgba(224, 224, 224, 0.75);
    padding: 2em !important;
    text-align: center;
    width: 100%;
  }
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Mobile (Portrait) */
@media screen and (max-width: 480px) {
  /* Box */
  .box {
    padding: 2em 1em;
  }
  /* Feature */
  .feature {
    margin-bottom: 1em;
  }
  .feature .content {
    padding: 2em 1em !important;
  }
}
/*# sourceMappingURL=main.css.map */